<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cgemConnectionString"
            connectionString="server=localhost;user id=root;pwd=root123;database=cgem"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>